PORT=
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYMENT_CALLBACK_URL=

WEBHOOKSECRET=
RABBITMQ_URL=
BASEURL=

ORDER_SERVICE_HOST=
ORDER_SERVICE_PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

NOTIFICATION_SERVICE_HOST=
NOTIFICATION_SERVICE_PORT=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

RABBITMQ_URL=
REDIS_PASSWORD=
